@import '../../../../theme/scss/colors.theme.scss';

.work-section {
  display: block;
  position: relative;
  background-color: $colors-bg-primary;
  max-height: 542px;
  width: 100%;
  padding: 50px 20px;
  @media screen and (max-width: 1024px) {
    max-height: fit-content;
  }

  &-first-row {
    .text {
      width: 60%;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
  .dot-img {
    height: 420px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -100px;
    margin-bottom: -200px;
    z-index: 1;
  }
  .shape-img {
    height: 542px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .container {
    padding: 60px 0;
    align-items: center;
    z-index: 2;
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
  }
  &-first-row {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-second-row {
    margin-top: 24px;
  }
  .card-inf {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $colors-bg-white;
    position: relative;
    z-index: 2;
    height: 260px;
    border: 0.8px solid #cccc;
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 36px;
      // align-items: center;
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 98px;
        height: 98px;
        border-radius: 50%;
        background-color: #f7f8fc;
      }
      img {
        width: 50px;
      }
    }
  }
}
