#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0f26;
    height: 100vh;
    width: 100%;
    img {
      width: 400px;
    }
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .bg-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 400px;
    }
  }
}

.google-btn-container {
  display: flex;
  justify-content: center;
}

.join-section {
  display: flex;
  justify-content: space-between;
  p {
    cursor: pointer;
  }
}
