@import '../../../../theme/scss/colors.theme.scss';

.promotion-package {
  margin-bottom: 20px;
  padding: 10px 0;
  border: 1.5px solid #24c55e;
  background-color: #e9fbef;
  .ant-card-body {
    display: flex;
    align-items: center;
  }
  p {
    padding-right: 50px;
  }
  .btn-container {
    display: flex;
    justify-content: end;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 22px 16px;
      font-weight: 400;
      color: white;
      background-color: #24c55e;
    }
  }
}
