@import '../../../theme/scss//colors.theme.scss';

.base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
  width: 100%;
  color: $colors-white;
  background-color: $colors-primary;
  font-weight: 400;
  font-size: 18px;
}
