@import '../../../../theme/scss/colors.theme.scss';

.header-section {
  display: block;
  width: 100%;
  height: auto;
  max-height: 760px;
  background-color: $colors-bg-primary;
  padding: 50px 30px;
  @media screen and (max-width: 992px) {
    max-height: 1100px;
    padding: 70px 30px;
  }
  @media screen and (max-width: 768px) {
    max-height: 1100px;
    padding: 70px 30px;
  }
  @media screen and (max-width: 576px) {
    max-height: 1500px;
    padding: 70px 30px;
  }
  .container {
    height: auto;
    margin: 0 auto;
    max-width: 1400px;
  }
  &-first-col {
    display: flex;
    justify-content: center;
    align-items: center;
    .bg-text {
      display: inline-block;
      background-color: $colors-primary;
      color: $colors-white;
      padding: 10px 16px;
      margin: 10px 0;
      border-radius: 6px;
    }
    &-inner {
      width: 100%;
      &-btn {
        height: 48px;
        padding: 0 20px;
        margin-top: 30px;
        margin-right: 20px;
      }
      &-btn.highlight {
        color: $colors-white;
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
        background-image: linear-gradient(to right, #eab308, #ef4444);
        transition: opacity 5s ease;
        border: #eab308;
      }
      &-btn.highlight:hover {
        opacity: 0.8;
      }
    }
  }
  &-section-col {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
:where(.css-dev-only-do-not-override-h3sjpf).ant-btn {
  color: $colors-white;
}