$colors-primary: #6a307d;
$colors-secondary: #1da1f2;
$colors-tertiary: #f97316;
$colors-text: #1c1c1c;
$color-text-secondary: rgb(153, 153, 153);
$colors-black: #000000;
$colors-white: #ffffff;

//border
$colors-border: #eeeeee;

//background
$colors-bg-primary: #f7f8fc;
$colors-bg-white: #ffffff;
$color-bg-footer-primary: #6a307d;

//alert
$colors-error: #ed6c60;
$colors-warning: #fcc12d;
$colors-success: #74c365;
