@import '../../../../theme/scss/colors.theme.scss';

#tutor-detail {
  .tutor-info {
    display: flex;
    width: 70%;
    .ant-card-body {
      display: flex;
    }

    &-left {
      width: 30%;
      margin-right: 30px;
      .avatar {
        height: fit-content;
        width: 100%;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      width: 70%;
    }
  }
  .btn-talk-container {
    display: flex;
    justify-content: end;
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px 22px;
    }
  }
}
